<div>
    <div class="row">
        <div class="col-sm-12">
            <div style="text-align: center;">
                <img src="../../assets/Images/MobileGif.webp" style="margin-left: 32px;height: 400px;" >
            </div>
        </div>
    </div>
</div>

<!--
<div class="row"> {path:"user",component:UserComponent},
    <div class="col-sm-12">
        <div class="row" >
            <div class="col-sm-2" style="background-color:greenyellow; text-align: center;">
                <div class="row" style="margin-top: 20px;">
                      <div class="col-sm-12"><a routerLink="admindetails" class="btn btn-success" > My Profile </a></div> 
                </div>
            </div>
            <div class="col-sm-10">
                <div class= "row">
                    <div class="col-sm-12">
                        <table style = "width: 100%;" class = "table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product Id</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Created Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let product of ProdList">
                                    <td>{{product.productId}}</td>
                                    <td>{{product.procuctName}}</td>
                                    <td>{{product.productPrice}}</td>
                                    <td>{{product.category}}</td>
                                    <td>{{product.createdAt}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>



export class ViewProductsComponent implements OnInit {
  ProdList?:Products[];
  constructor(private router:Router,private adminservice:AdminService){

  }
  ngOnInit(): void {
    this.adminservice.AllProducts().subscribe(data=>this.ProdList=data);
  }

}


-->