<div style="margin-top: 10px;">
    <div class="row" style="margin-bottom: 15px ;">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <h4>Email</h4>
        </div>
        <div class="col-sm-3">
            <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" id="txtEmail">
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row" style="margin-bottom: 15px ;">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <h4>Password</h4>
        </div>
        <div class="col-sm-3">
            <input type="password" [(ngModel)]="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row" style="margin-bottom: 20% ;">
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <input type="button" value="Submit" class="btn btn-primary" id="btnLogSubmit" (click)="btn_LoginClick();">
            <input type="button" value="Cancel" class="btn btn-warning" id="btnLogCancel" >
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>