<div style="margin-top: 10px;">
    <div class="row" style="margin: top 10px;margin-bottom: 15px ;">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <h4>Product ID:</h4>
        </div>
        <div class="col-sm-3">
            <input type="text" id="txtName" class="form-control" />
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row" style="margin: top 10px;margin-bottom: 15px ;">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <h4>Product Name:</h4>
        </div>
        <div class="col-sm-3">
            <input type="text" id="txtName" class="form-control" />
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <h4>Price</h4>
        </div>
        <div class="col-sm-3">
            <input type="text" id="txtEmail" class="form-control" />
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <h4>Select Category :</h4>
        </div>
        <div class="col-sm-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>--Select--</option>
                <option value="10">Electronics</option>
                <option value="20">Buety</option>
                <option value="30">Fashion</option>
                <option value="40">Footwear</option>
                <option value="50">Home Decorating</option>
              </select>User
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row" style="margin-bottom: 3%;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <input type="button" style="margin-left: 50px;" value="Update" id="btnSubmit" class="btn btn-success">
            <input type="button" style="margin-left: 40px;" value="Reset" id="btnReset" class="btn btn-warning">
            <input type="button" style="margin-left: 40px;" value="Cancel" id="btnCancel" class="btn btn-danger">
        </div>
        <div class="col-sm-4"></div>
    </div>
    
</div>