<div>
  <div class="row" style="background-color: cadetblue;">
      <div class="col-sm-12">
          <h1 style="color: #fff; text-align: center;
          font-weight: bold;margin-left: 100px;
          text-shadow: 2px 2px 4px #000000;
          padding-top: 5px;">Sample Application for Products</h1>
      </div>
  </div>
  <div class="row" style="text-align: center;">
      <app-navbar></app-navbar>
  </div>
  <div>
      <router-outlet></router-outlet>
  </div>
  <div>
      <div class="row" style="background-color: cadetblue;">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
              <img src="../assets/Images/fb_Logo.png" style="height: 40px; margin-left: 200px;" />
              <img src="../assets/Images/insta_Logo.png" style="height: 58px; margin-left: 15px;" />
              <img src="../assets/Images/x_Logo.png" style="height: 40px; margin-left: 15px;" />
              <img src="../assets/Images/whatsapp_Logo.png" style="height: 40px; margin-left: 15px;" />
          </div>
      </div>
  </div>
</div>